@import url('https://fonts.googleapis.com/css2?family=Abel&family=Homemade+Apple&display=swap');

.head {
  background-color:#ffea11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  font-weight: bold;
  color: #8f0040;
  position: fixed;
  left:0;
  right: 0;
  align-items: center;
}

.headLinks{
  margin-left: 5px;
  font-size: 1.2vw;
  font-weight:bold;
  color: #8f0040;
  text-shadow:  1px 1px 2px #D1512D;
  letter-spacing: 2px;    
  transition: 0.2s;
  margin-right: 5px;
  text-decoration: none;
  padding: 0.5vw;
}

.headLinks:hover {
  font-weight:bolder;
  font-size: 1.3vw;
  text-shadow:  2px 2px 3px #D1512D;
  cursor: pointer;
  /* transition: all 400ms ease-in-out; */
}

.headLinksActive {
  display: none;
}

.headLinksActive:hover {
  text-shadow:  1px 1px 2px #D1512D;
  font-size: 1.2vw;
  font-weight:bold;
  cursor:none;
}

#landing {
  font-family: 'Homemade Apple', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1300px) {
  .head {
    flex-direction: column;
    /* height: 87px; */
    z-index: 1;
  }
  .headLinks {
    font-size: 1rem;
    padding: 0.2vw;
  }
  .headLinks:hover {
    font-size: 1rem;
  }
}