
.detail {
    text-align: center;
}

.container {
    position: relative;
    top: 7vh;
    display: grid;
    grid-template-columns: 43vw 43vw;   
    box-shadow:  1px 1px 50px  #E6B325 inset ;
    padding: 3vh;
    margin: 1vw 2vw 1vw 2vw;
    border-radius: 6px;
    color: black;
    height: 70vh;
}

.tittle {
    font-weight: 800;
}

.name {
    /* height: 7vw; */
    margin: 0;
    font-size: 5vh;
    font-weight: 600;
    letter-spacing: 2px;    
}

.image {
    border-radius: 2px;
    max-width: 34vw;
    max-height: 35vw; 
}

.notFound {
    z-index: -1;
    margin: 0;
    display: flex;
    padding-top: 15vh;
    flex-direction: row-reverse;
    /* position: relative; */
    justify-content: space-between;

}
.linkNotFound {
    /* position: relative; */
    /* top: 150px; */
    padding-right: 5vw;
    padding-top: 15vh;
    font-size: 17px;
    right: 50px;
    color: black;
    text-decoration: none;    
}

.linkNotFound:hover {
    /* position: relative;
    top: 150px;
    right: 150px;     */
    font-size: 19px;
    cursor: pointer;
}

.imgNotFound {
    position: relative;
    width: 40%;
    left: 750px;
    top: 150px;
}
.spanNotFound {
    position: absolute;
    background-color: white;
    animation: descubre 300s;
    width: 100%;
    height: 90vh;

}

@keyframes descubre {
    from {width: 100%;}
    1% {width: 60%;}
    2% {width: 0%;}
    to {width: 0%;}
}

