@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.dog {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    border: 1px solid white;
    margin: 0;
    margin-bottom: 5vh;
    box-shadow: 3px 5px 5px 5px #efe9f4;
    background-color: white;
    
}

.dog:hover {
    box-shadow: 4px 4px 5px 8px #bdb5b2;
    max-width: 110%;   
}

.imageBox {
    border-radius: 10px;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    margin:auto;
    /* isolation: isolate; */
}


.image {
    border-radius: 10px;
    height: auto;
    width: 100%;
    align-items: center;
}

.infoCont {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
    margin: 0;    
}
.name {
    margin: 0;    
    font-size: 3.5vh;
    font-weight: 600;
    text-shadow: 0.3px 0.3px 2px #000000;

}

.info {
    margin: 0;
    font-size: 2.3vh;
}


.link {
    font-family: 'Square Peg', cursive;
    text-decoration: none;
    /* font-family: 'Homemade Apple', cursive; */
    /* background-color: #66002E; */
    /* background-color: #154751; */
    color: #b3191c;
    font-weight: 590;
    /* background-color: #ef5b0c; */
    /* background-color: #a90f54; */
    /* background-color: #dc136c; */
    font-size: 5vh;   
    border-radius: 4px;
    text-shadow:0.5px 0.5px 2px #b3191c;
    /* text-shadow:2px 2px 2px #113940; */
    /* width: fit-content; */
    /* margin: 0; */
    /* margin: auto; */
}

.link:hover {
    font-weight: 600;
    font-size: 6vh;
    text-shadow:2px 2px 4px #b3191c;
}




/* #ff4b06
#d1512dxxx
#ef5b0C

#47a025
#36741b */