.container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);     */
    grid-template-columns: auto auto auto auto;   
    gap: 40px;
    margin: 0px 40px 0px 40px;
    /* font-size: 18px; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content:     center;
    margin: auto; */
    /* background-image: url("./fondo2.jpg"); */
    /* padding-left: 40px;
    padding-right: 40px; */
    /* background-color: #19b3a6;
    height: 100%; */

}
