@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.formComponent {
    padding-top: 5vh;
    text-align: center;
    top:    7vh;
    display: flex;
    flex-direction: column;
    z-index: -1;
    justify-content: center;
}

.tittle {
    text-align: center;
    font-size: 3vw;
    margin: 1.2vh 0vh 0vh 0vh;
    color: #8f0040;
    font-family: 'Square Peg', cursive;
    font-weight : bolder;
}

.imgDiv {
    text-align: center;
    height: 15vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
}

.img {
    width: 30%;
    margin: 0;
    position: relative;
    justify-content: center;
}

.form {
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 1vw;
    box-shadow: 6px 6px 15px rgb(0, 0, 0,0.3);

}

.formBox {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    width: 42vw;
    box-shadow:  1px 1px 60px 0px  #E6B325 inset ;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 3px;
    padding-top: 2px;
}

.fieldmaxMin {
    padding-top: 2px;
}

.tempList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 36vw;
    justify-content: center;
    align-content: flex-start;
    height: 5vh;
    font-family: 'Mulish', sans-serif
}

.submitError{
    font-family: 'Abel', sans-serif;
    color:#2C3639;
    font-size: 1vw;
}

.form label {
    width: 20vw;
    font-size: 1vw;
    text-align: left;
}

.form input {
    border-radius: 5px;
    border: 1px solid #360808;
    box-shadow: 1px 1px 2px #360808;
    width: 36vw;
    font-size: 1vw;
    font-family: 'Mulish', sans-serif;
}

.form input:hover {
    background-color: #fcf7ee;
    cursor: pointer;
}

.form input:disabled {
    cursor:not-allowed;
}

.form select {
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;
    font-size: 1vw;
    width: 12.5vw;
    border: 1px solid #360808;
    box-shadow: 1px 1px 2px #360808;
}
.form select:hover{
    background-color: #fcf7ee;
    cursor: pointer;
}

.form span {
    width: 36vw;
    font-family: 'Abel', sans-serif;
    color:#b3191c;
    font-size: 1vw;
    text-align: left;
    font-weight: 550;
}

.tempList span {
    max-width: 36vw;
    width: auto;
    padding-left: 0.8vw;
    text-align: center;
    color: black

}

.submitError {
    width: 36vw;
    font-family: 'Abel', sans-serif;
    color:#b3191c;
    font-size: 1vw;
    text-align: left;
    font-weight: 550;
}

.buttonTemp {
    font-size: 1vh;
    box-shadow: 1px 1px 1px #360808;
    border: 1px solid #360808;
    border-radius: 2px;
    margin-left: 2px;
}

.buttonTemp:hover {
 cursor: pointer;
}

.maxMin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.maxMin input {
    border-radius: 5px;
    width: 15vw;
    font-size: 1vw;
    font-family: 'Mulish', sans-serif;
}

.maxMin label {
    width: 5vw;
    font-size: 1vw;
    text-align: left;
}

.submit {
    letter-spacing: 2px !important;    
    font-weight: 800 !important;
    margin-bottom: 0.5vw;
    width: 6vw !important; 
    box-shadow:  -1px -1px 10px 0px  #E6B325 inset, 2px 2px 10px rgb(0, 0, 0,0.3) !important;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 3px;
    padding-top: 2px;
}

.AddTempDisplay {
    display: flex;
    flex-direction: row;
}

.tempAdded {
    display: flex;
    flex-direction: row;
    padding: 3px;
    padding-top: 5px;
}

.addTempInput {
    width: 20vw !important;
    margin-right: 5px;
}

.addTempInputSend {
    width: 5vw !important;
}

.addTempInputSend:hover {
    cursor: pointer;
}