
.home {
    height: 100%;
    position: relative;
}

.homeBar {
    position: fixed;
    margin-top: 3.5vw;
    box-shadow: 0vh -3vh 8vh 4.7vw #0f3d3e inset;
    color: white;
    right: 0;
    left: 0;
}

.loading {
    position: relative;
    top: 20vw;
    left: 46vw;
    float:left;
    color: #0F3D3E;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.loadingIn {
    position: absolute;
    right: 0;
    width: 10px;
    color: #0F3D3E;
    background-color: white;
    border-left: 1px solid black;
    animation: tipeo 1.2s steps(11) infinite;
}

@keyframes tipeo {
    from {width: 100%;}
    to {width: 0%;}
}

.notFound {
    position: relative;
    /* top: 15vw; */
    z-index: -1;
    height: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-weight:bold;
    color: #8f0040;
    text-shadow:  1px 1px 2px #D1512D;
    letter-spacing: 2px;        
    margin: 0;
}

.imgNotFound {
    height: 60vh;    
}

.positionDogs {
    height: 37vh;
}

.positionNotFound {
    height: 30vh;
}

@media (max-width: 1300px) {
.notFound{
    top: 3vh;    
    font-size: 1.2rem;
}
.imgNotFound {
    margin-top: -79px;
    position: relative;
    z-index: -1;
}
.homeBar {
    margin-top: 87px;
    box-shadow: 0vh -3vh 10vh 20vw #0f3d3e inset;
}
.loading {
    top: 300px;
    text-align: center;
    margin: auto;
}
}