.navBar {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    font-weight:500;
    /* text-shadow: #ccbb00; */
    /* text-shadow:0.5px 0.5px 1px #b8a800; */
    text-shadow:0.5px 0.5px 1px #127f74;
    font-size: 1.2vw;
    /* justify-content: space-between; */
    /* background-color: #f4fcd9   ; */
    border-radius: 10px 10px 10px 10px;
}

.search {
    display: flex;
    justify-content: center;
}

.filterOrder {
    padding-top: 4px;
    padding-bottom: 7px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
    text-align: center
}

.buttonSelection {
    background-color: #227b81;
    border-radius: 10px;
    border: 1px solid #1a5e63;
    color: white;
    height: 1.7vw;
    font-weight: 400px;
    margin-bottom: 1.4vh;
    text-shadow:0.5px 0.5px 1px #1a5e63;
    font-size: 1.1vw;
    /* 660027 8f0040 */
}
.buttonSelection:hover {
    background-color: #1a5e63;
    cursor: pointer;
}