.navBar {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight:500;
    /* text-shadow: #ccbb00; */
    /* text-shadow:0.5px 0.5px 1px #b8a800; */
    text-shadow:0.5px 0.5px 1px #127f74;
    font-size: 16px;
    /* justify-content: space-between; */
    /* background-color: #f4fcd9   ; */
}

.filterOrder {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center


}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    /* text-decoration-line:underline; */
    font-weight: bold;
    font-size: 21px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-shadow:1px 1px 2px #127f74;
}

.links:hover {
    font-size: 22px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);

}

.search {
    display: flex;
    justify-content: center;
}