
.paginated {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px 0px 10px 0px;
    
}

.selected {
    text-anchor:start;
    background-color:  #227b81;
    border-radius: 3px;
    border: 1px solid  #1a5e63;;
    text-shadow:1px 1px #0F3D3E;
    color: white;
    font-weight: 300 ;
    font-size: 1.1vw;
}

.selections {
    background-color: white;
    border-radius: 3px;
    font-size: 1vw;
    border: 1px solid #76ba99;
}

.selections:hover {
    background-color: #e9dac1;
    font-size: 1vw;
    border: 1px solid #76ba99;
    cursor: pointer;
}

.disabled {
    background-color: #F1F1F1;
    border: 1px solid #76ba99;
    border-radius: 4px;
    font-size: 1vw;
}

@media (max-width:1300px) {
    .paginated {
        padding: 5px 0px 10px 0px;
        
    }
    .selected {
        font-size: 11px;

    }   
    .selections:hover {
        font-size: 11px;

    }
    .disabled {
        font-size: 11px;

    }
    .selections {
        font-size: 11px;

    }
}